.wrapper {
  height: 100%;
}

.wrapper,
.form {
  display: flex;
  flex-direction: column;
}

.form {
  overflow: auto;
  flex-grow: 1;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.field {
  display: grid;
  grid-template-columns: minmax(auto, 30%) 1fr;
  column-gap: 16px;

  & + & {
    margin-top: 16px;
  }

  textarea {
    resize: none;
    height: 160px
  }
}

.label {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttons {
  margin-top: auto;
  align-self: flex-end;

  & > :not(:last-child) {
    margin-right: 12px;
  }
}
