.head {
  font-size: 24px;
}

.wrapper {
  position: relative;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.pre {
  margin: 0;
}

.code {
  font-size: 12px;
  color: grey;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}
